<div id="about">
  <h2>Tilgang</h2>
  <p>Forskning viser, at såvel psykoterapi som supervision virker, når den aktivt kan overføres og bruges i dagligdagens sammenhænge og situationer. Jeg arbejder med forskellige fremgangsmåder og redskaber i samtaler og supervision og forskningen viser at forandring sker i den aktive brug af erfaringer fra samtaler/supervision i dagligdagens mange komplekse situationer og hændelser. Det er denne aktive kobling mellem samtale og hverdag, jeg prøver at understøtte – sammen med dig/jer – med henblik at skabe de små eller store ændringer mod mere mening, glæde og styrke m.m.</p>
  <h2>Erfaringer</h2>
  <p>Jeg har over 30 års erfaring som psykolog i flere forskellige positioner: Psykolog i voksenpsykiatrien, klinisk psykolog på børne- og familieområdet, forsker og underviser, og som leder og chef af PPR og en Børne- Ungeafdeling. Jeg har her ud fra viden og erfaring m.h.t. mange problemstillinger i livet.</p>
</div>
