<div id="intro">
  <p>
    Velkommen – på de følgende sider kan du læse om mig og mine tilbud.
    Jeg er cand. psych., autoriseret psykolog, godkendt specialist og supervisor. Jeg er medlem af Dansk Psykologforening.
  
    Jeg har, kort fortalt, en professionel fortid som klinisk psykolog i voksenpsykiatrien og Pædagogisk Psykologisk Rådgivning (PPR). Jeg har været leder og chef for PPR og en Børneunge-rådgivning i forskellige kommuner. Jeg har undervist og arbejdet med praksisrettet forskning og har bl.a. været ansat på RUC, psykologi.
  
    Jeg arbejder også med samtaler om forhold i dagligdagen i relation til eller udover arbejde og uddannelse.
  
    Jeg arbejder også med supervision af psykologer o.a. faggrupper og bruger her såvel min lange rådgivningsmæssige erfaringer med børn, unge og familier, i relation til skole og daginstitution – og mine erfaringer som leder og chef for forskellige organisationer.
  
    Jeg kan holde oplæg og undervise i en lang række temaer indenfor psykologi, filosofi med fokus på ledelse og professionelt samarbejde. Min hjemmeside omfatter en liste over en del af mine publikationer som kan læses og printes herfra.
  </p>
</div>
